* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: #f3f3f3;
}
.container {
    max-width: 1424px;
    margin: auto;
    height: fit-content;
    /* background-color: blueviolet; */
    /* border: 2px solid black; */
    box-sizing: border-box;
    /* padding-bottom: 20px; */
}
header {
    width: 100%;
    background-color: #f3f3f3;
    height: 100px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    
}
.logos_img {
    width: 150px;
    height: 50px;
}
.nav {
    /* border: 1px solid black; */
    transition: all 0.2s ease-in-out;
}
.nav_list {
    display: flex;
    column-gap: 30px;
}
.nav_item {
    list-style: none;
}
.nav_item a {
    text-decoration: none;
    color: rgb(69, 68, 68);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.3s ease-in-out;
}
.nav_item a:hover {
    color: rgb(3, 3, 3);
    background-color: rgb(149, 229, 149);
    padding: 15px 20px;
    border-radius: 15px;
}
.nav_item a:focus {
    color: rgb(3, 3, 3);
    background-color: rgb(65, 174, 65);
    padding: 15px 10px;
    border-radius: 15px;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    width: 27px;
    height: 2px;
    background-color: black;
    margin: 5px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}
.nav--open {
    transform: translate(0) !important;
}
.hamburger--close .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.hamburger--close .bar:nth-child(2) {
    opacity: 0;
}
.hamburger--close .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* section part start from here */
section {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    /* border: 2px solid black; */
}
.section1 {
    width: 100%;
    height: fit-content;
    /* border: 1px solid black; */
    background-color: #f3f3f3;
    display: flex;
    transition: all 0.5s ease-in-out;

}
.section1_first {
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    padding: 100px 80px;
    box-sizing: border-box;
}
.section1_first p {
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pan {
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.section1_img {
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    padding-top: 100px;
    box-sizing: border-box;
}
.section1_first a {
    font-size: 16px;
    color: rgb(61, 212, 61);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imghero {
    width: 100%;
    height: 100%;
    padding: 10px 50px;
    box-sizing: border-box;

}

/* section 2 */

.section2 {
    width: 100%;
    height: fit-content;
    /* border: 2px solid black; */
    background-color: #f3f3f3;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 100px;
}
.section2_1 {
    /* border: 1px solid black; */
    width: 100%;
    padding: 0px 300px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section2_1 h3 {
    color: rgb(61, 212, 61);
}
.section2_1 p {
    font-size: 50px;
    padding-top: 10px;
}
.section2_2 {
    width: 100%;
    height: fit-content;
    padding: 100px 0px 50px 0px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section2_boxes {
    width: 500px;
    height: 280px;
    /* border: 1px solid black; */
}
.desktop_logo {
    width: 50px;
    height: 50px;
    /* border: 1px solid black; */
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: rgba(12, 255, 12, 0.5);
}
.desktop_logo i {
    margin-top: 26px;
    margin-left: 14px;
}
.section2_box_text {
    width: 100%;
    /* border: 1px solid black; */
    padding: 20px 50px;
    box-sizing: border-box;
}
.section2_box_text h5 {
    font-size: 20px;
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
}
.section2_box_text p {
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
.imgss {
    width: 100%;
    height: 100%;
}

/* section 3 */

.section3 {
    width: 100%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding-top: 100px;
    background-color: #f3f3f3;
}
.section3_1 {
    /* border: 1px solid black; */
    width: 100%;
    padding: 0px 300px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section3_1 h3 {
    color: rgb(61, 212, 61);
}
.section3_1 p {
    font-size: 50px;
    padding-top: 10px;
}

.section3_2 {
    width: 100%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding: 100px 200px 100px 200px;
    /* background-color: darkblue; */
}
.section3_2_textarea {
    width: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
    box-sizing: border-box;
    background-color: white;
    padding: 0px;
    height: fit-content;
}
.section3_2_textarea_nav {
    width: 100%;
    /* border: 2px solid rgb(205, 73, 73); */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    height: 60px;
    position: relative;
    bottom: 20px;
}

.textarea_nav_item1 {
    width: 25%;
    height: 50px;
    /* border: 1px solid green; */
    border-radius: 20px;
    background-color: #ffcb03;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 0px;
}
.textarea_nav_item1 p span {
    font-weight: bolder;
    padding-right: 5px;
}
.textarea_nav_item1 p {
    font-size: 20px;
    margin-bottom: 0px;
}
.textarea_nav_item1:hover {
    background-color: #f5c400;
}
.textarea_nav_item1--open {
    margin-top: -10px;
}

.textarea_nav_item2 {
    width: 25%;
    height: 50px;
    /* border: 1px solid green; */
    border-radius: 20px;
    background-color: #5EC576;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.textarea_nav_item2 p span {
    font-weight: bolder;
    padding-right: 5px;
}
.textarea_nav_item2 p {
    font-size: 20px;
    margin-bottom: 0px;
}
.textarea_nav_item2:hover {
    background-color: #57b76e;
}
.textarea_nav_item2--open {
    margin-top: -10px;
}

.textarea_nav_item3 {
    width: 25%;
    height: 50px;
    /* border: 1px solid green; */
    border-radius: 20px;
    background-color: #ff585f;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.textarea_nav_item3 p span {
    font-weight: bolder;
    padding-right: 5px;
}
.textarea_nav_item3 p {
    font-size: 20px;
    margin-bottom: 0px;
}
.textarea_nav_item3:hover {
    background-color: #fd4e57;
}
.textarea_nav_item3--open {
    margin-top: -10px;
}
.textareas {
    width: 100%;
    height: 250px;
    /* border: 1px solid purple; */
    box-sizing: border-box;
    position: relative;
    display: flex;
}
.textareas_1 {
    width: 100%;
    height: 100%;
    /* background-color: #ffffff; */
    padding: 50px 50px 50px 100px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    column-gap: 20px;
}
.textareas_1_logo {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #fff5cf;
}
.textareas_1_logo i {
    margin-left: 21px;
    margin-top: 32px;
}
.textareas_1_text {
    width: 80%;
    height: 100%;
    /* border: 2px solid black; */
    padding-top: 20px;
    box-sizing: border-box;
}
.textareas_1_text h6 {
    font-size: x-large;
    font-weight: 400;
    margin-bottom: 20px;
}
.textareas_1_text p {
    font-size: 15px;
    color: rgb(121, 121, 121);
}
/* NOTE :- textareas_1_text is also for 2 &3 textarea */

.textareas_2 {
    width: 100%;
    height: 100%;
    display: none;
    padding: 50px 50px 50px 100px;
    box-sizing: border-box;
    column-gap: 20px;
}
.textareas_2_logo {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #daf2e0;
}
.textareas_2_logo i {
    margin-left: 17px;
    margin-top: 32px;
}
.textareas_3 {
    width: 100%;
    height: 100%;
    display: none;
    padding: 50px 50px 50px 100px;
    box-sizing: border-box;
    column-gap: 20px;
}
.textareas_3_logo {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #ffe2e3;
}
.textareas_3_logo i {
    margin-left: 19px;
    margin-top: 34px;
}

/* section 4 start from here  */

.section4 {
    width: 100%;
    height: fit-content;
    background-color:#f3f3f3;
    padding: 100px 100px 100px 100px;
}

.section4_1 {
    /* border: 1px solid black; */
    width: 100%;
    padding: 0px 200px 0px 200px;
    margin-bottom: 100px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section4_1 h3 {
    color: rgb(61, 212, 61);
}
.section4_1 p {
    font-size: 50px;
    padding-top: 10px;
}

.carousel_text1 {
    width: 100%;
    height: fit-content;
    /* background-color:red; */
    padding: 10px 120px;
    display: flex;
}
.carousel_text1_text {
    padding: 0px 20px 20px 20px;
    /* width: 80%; */
}
.carousel_text1_text h5 {
    font-size: 30px;
}
.carousel_text1_text p {
    font-size: 20px;
}
.users {
    width: 300px;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    column-gap: 20px;
}
.user_img {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
}
.user_details {
    padding-top: 20px;
}

    /* this above users are also link with carousel_text2 & carousel_text3 */

.carousel_text2 {
    width: 100%;
    height: fit-content;
    /* background-color:red; */
    padding: 10px 120px;
    display: flex;
}
.carousel_text3 {
    width: 100%;
    height: fit-content;
    /* background-color:red; */
    padding: 10px 120px;
    display: flex;
}

        /* footer start from here  */

footer {
    width: 100%;
    height: fit-content;
    padding: 50px;
    background-color: #37383D;
}
.footer_part1 {
    width: 100%;
    height: fit-content;
    /* border: 1px solid white; */
    text-align: center;
    padding: 100px 160px;
}
.footer_part1 h2 {
    font-size: 40px;
    color: white;
}
.footer_part1 button {
    padding: 20px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    background-color:#57b76e;
    font-size: 23px;
}
.line {
    border: 1px solid rgb(80, 80, 80);
    width: 100%;
}
.footer_last {
    width: 100%;
    height: fit-content;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    margin-top: 20px;
}
.footer_last_ul {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;

}
.footer_last_ul ul {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 0px;
}
.footer_last_ul ul li {
    list-style: none;
    box-sizing: border-box;
}
.footer_last_ul ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.footer_last_logo {
    width: 50px;
    height: 50px;
}

.footer_last p {
    color: white;
    text-align: center;
}

@media (max-width: 990px) {
    .container {
        width: 100%;
    }
    .hamburger {
        display: block;
    }
    .nav {
        position: fixed;
        top: 70px;
        background-color: white;
        width: 100%;
        left: 0;
        box-sizing: border-box;
        /* border: 2px solid black; */
        padding: 20px 0px;
        transform: translateX(-100%);
    }
    .nav_list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .logos_img {
        height: 50px;
    }
    header {
        height: 70px;
    }
    .section1 {
        flex-direction: column;
        align-items: center;
    }
    .section1_first {
        width: 100%;
        padding: 50px;
    }
    .section1_first p {
        font-size: 40px;
    }
    .pan {
        padding-top: 10px;
        font-size: 20px;
    }
    .section1_img {
        width: 100%;
        padding: 0px;
    }
    .imghero {
        width: 100%;
        height: 100%;
        /* padding: 10px 50px; */
        box-sizing: border-box;
    }
    .section1_first a {
        font-size: 12px;
    }
    .section2_1 {
        /* border: 1px solid black; */
        padding: 0px 20px;
    }
    .section2_1 h3 {
        color: rgb(61, 212, 61);
        font-size: small;
    }
    .section2_1 p {
        font-size: 22px;
        font-weight: 400;
        padding-top: 10px;
    }
    .section3_1 {
        /* border: 1px solid black; */
        width: 100%;
        padding: 20px 30px;
        box-sizing: border-box;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .section3_1 h3 {
        font-size: 20px;
    }
    .section3_1 p {
        font-size: 30px;
    }
    .section3 {
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .section3_2 {
        padding: 0px;
    }
    .section3_2_textarea_nav {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        padding-top: 20px;
    }
    .textarea_nav_item1 {
        width: 80%;
        height: 50px;
        margin: 10px;
    }
    .textarea_nav_item2 {
        width: 80%;
        height: 50px;
        margin: 10px;
    }
    .textarea_nav_item3 {
        width: 80%;
        height: 50px;
        margin: 10px;
    }
    .textareas_1 {
        padding: 20px 10px 10px 10px;
        column-gap: 0px;
    }

    .textareas_1_text {
        padding-left: 10px;
        padding-top: 0px;
    }
    .textareas_1_text h6 {
        margin-bottom: 10px;
    }
    
    .textareas_2 {
        padding: 20px 10px 10px 10px;
        column-gap: 0px;
    }
    .textareas_2_text {
        padding-left: 10px;
        padding-top: 0px;
    }
    .textareas_2_text h6 {
        margin-bottom: 10px;
    }

    .textareas_3 {
        padding: 20px 10px 10px 10px;
        column-gap: 0px;
    }
    .textareas_3_text {
        padding-left: 10px;
        padding-top: 0px;
    }
    .textareas_3_text h6 {
        margin-bottom: 10px;
    }

    .section4 {
        padding: 0px;
    }
    .section4_1 {
        /* border: 1px solid black; */
        width: 100%;
        padding: 20px 30px;
        box-sizing: border-box;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .section4_1 h3 {
        font-size: 20px;
    }
    .section4_1 p {
        font-size: 30px;
    }
    
    .carousel_text1_text p {
        padding-right: 10px;
    }
    .carousel_text1 {
        padding: 10px;
        height: fit-content;
    }
    .carousel_text2 {
        padding: 10px 0px;
        height: fit-content;
    }
    .carousel_text3 {
        padding: 10px 0px;
        height: fit-content;
    }
    .carousel_text1_text h5 {
        font-size: 20px;
    }
    .carousel_text1_text p {
        font-size: 15px;
    }
    .footer_part1 {
        width: 100%;
        height: fit-content;
        /* border: 1px solid white; */
        text-align: center;
        padding: 0px 0px 10px 0px;
    }
    .footer_part1 h2 {
        font-size: 25px;
    }
    .footer_part1 button {
        padding: 20px;
        border: none;
        border-radius: 20px;
        margin-top: 30px;
        background-color:#57b76e;
        font-size: 15px;
    }
    .footer_last {
        row-gap: 20px;
    }
    .footer_last_ul ul li a {
        font-size: 15px;
    }
    .footer_last_logo {
        width: 50px;
        height: 50px;
    }
    .footer_last p {
        font-size: 10px;
    }
}
